html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

.slider {
    width: 1300px;
    margin: 0 auto;
    padding: 100px 40px 60px;
    box-sizing: border-box;
    background-color: #d2ee53;

    &-scroll  {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        &__arrow {
            font-size: 80px;
            background: transparent;
            border: none;
            color: #fff;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                color: #000;
            }
        }

        .slider-list {
            display: flex;
            margin: 0 40px 0;
    
            &__item {
                display: none;
                overflow: hidden;
                border: 5px solid rgb(47, 192, 3);
                border-radius: 20px;
    
                img {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                }
            }
    
            &__item.active {
                display: block;
            }
        }
    }

    &-dots {
        display: flex;
        justify-content: center;

        &__item {
            width: 15px;
            height: 15px;
            margin: 0 3px 0;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .3);
            cursor: pointer;

            &:hover {
                background-color: #000;
            }

            &.active-dot {
                background-color: #fff;
            }
        }
    }
}